# Core API
fastapi
uvicorn

# LangChain core
langchain
langchain-community
langchain_text_splitters

# PDF loading
pypdf

# Vector DB (for later)
faiss-cpu

# Utilities
python-dotenv

#env source
dotenv